* { margin: 0; padding: 0; box-sizing: border-box;} 
ul,ol,li { list-style: none; padding: 0;} 
a { text-decoration: none; } 

.star {
  color: rgb(57, 131, 216);
  margin-bottom: 5px;
}
.main .content{width: 760px; margin-left: 30%;}
.main{padding: 20px 0 30px; background-color: #f0f0f3;} 
.restaurantMain {padding-top: 20px; background-color: white; border-radius: 10px; margin: 0 auto;} 

.restaurantInfo{padding: 0 10px;}

.restaurantInfo .infoImg{ max-width: 716px; padding: 10px 0; margin-bottom: 25px; display: flex; }
.restaurantInfo .infoImg img
{ 
  object-fit: cover;
    width: 50%;
    min-height: 325px;
    margin-right: 5px;
    cursor: pointer;
}

.restaurantInfo .infoImg img:last-child {
  margin-right: 0;
}
.restaurantInfo .infoName .detailTitle{padding-left: 5px;}
.restaurantInfo .infoName .detailTitle .detailName{display: flex; align-items: center;}
.restaurantInfo .infoName .infoShare{justify-content: end; align-items: center;}
.restaurantInfo .infoName .infoShare button{border: none}
.restaurantInfo .infoName .infoShare .zzimBtn{margin-right: 15px; }
.restaurantInfo .infoName .infoShare .zzimBtn svg{margin-left: 5px; width: 25px; height: 25px;}

.restaurantInfo .infoName h1{padding-left: 10px; font-size: 40px; font-weight: bold;}
.restaurantInfo .infoName .shareBtn{width: 73px; height: 32px;  border-radius: 10px;font-size: 13px;}
.restaurantInfo .infoName .reviewBtn{width: 73px; height: 32px;  border-radius: 10px;font-size: 13px; margin-right: 10px;}
.restaurantInfo .infoName .fixBtn{border-radius: 10px;margin-left: 15px;font-size: 30px; color: #4169E1;margin-bottom: 5px;}
/* .restaurantInfo .infoName .zzimBtn .selected{fill:red; stroke : red} */
.restaurantCategory{ margin-bottom: 10px;}
.restaurantCategory a{color: #7e7e7e;}
.restaurantCategory a:not(:last-child)::after {content: " |";}

.gradeInfo {display: flex; align-items: center; margin-bottom: 20px; margin-left: 0px;}



.restaurantRating .gradeInfo p{padding-left: 0;margin: 0;}
.restaurantRating .gradeInfo span
{font-weight: bold; font-size: 25px; padding-left: 5px;}
.restaurantRating .gradeInfo .star{margin-right: 5px;}

.restaurantRating .gradeRating{font-size: 25px;}
.restaurantRating .gradeRating .bi-star-fill,
.reviewCount .gradeRating .bi-star-fill
{color: blue;}

.restaurantRating .totalScore {
  margin-right: 15px;
  
}

.restaurantRating .totalScore span{
  color: #9e9e9e;
}

.img {
  position: relative; /* 나중에 더보기 버튼을 절대 위치로 배치하기 위함 */
  display: inline-block; /* 이미지를 인라인으로 표시 */
}

.show-more-button {
  position: absolute; /* 부모 요소(.col)에 상대적으로 위치 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
  color: white;
  border: none;
  cursor: pointer;
}




.restaurantDetail{padding: 0 12px 10px 12px; margin-bottom: 20px;}
.restaurantDetail .address{display: flex; align-items: center; margin-left: 0;}
.restaurantDetail li{margin-bottom: 10px;}
.restaurantDetail .address .btn{width: 73px; height: 32px; font-size: 14px; padding: 0; background-color: #124886; border-color: #124886; margin-left: auto;}
.restaurantDetail svg{margin-right: 10px;}

/* 디테일 포토 */
.restaurantReviewPic{ background-color: white; padding: 22px; margin-bottom: 20px; border-radius: 10px;}
.restaurantReviewPic h2{font-size: 25px; font-weight: bold; margin-bottom: 20px;} 
.restaurantReviewPic .text-primary{font-size: 27px;}

.restaurantReviewPic .picGridPhoto{display: grid; width: 100%;  grid-template-columns: repeat(3, 1fr); gap: 10px; margin: 20px 0 20px;  }
.restaurantReviewPic .picGridPhoto img{width: 100%; height: 210px; object-fit: cover; border-radius: 10px;cursor: pointer; }
.restaurantReviewPic .morePic{padding: 18px; width: 100%;}

/* 모달창 디자인 */
.restaurantReviewPic .modal-dialog,
.restaurantMain .modal-dialog,
.restaurantReview .modal-dialog{justify-content: center; }

.restaurantReviewPic .modal-content,
.restaurantMain .modal-content,
.restaurantReview .modal-content{width: fit-content; }

.restaurantReviewPic .modal-content img,
.restaurantMain .modal-content img,
.restaurantReview .modal-content img{max-width: 1600px; max-height: 600px; }

.restaurantReviewPic .modal-body{transition: all 2s; }


.reviewcontainer .picGrid { display: grid; width: 100%;  grid-template-columns: repeat(4, 1fr); gap: 10px; margin: 10px 0 10px;}

.reviewcontainer .picGrid .col{
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.reviewcontainer .picGrid img{ 
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.restaurantReview{padding: 22px; background-color: white; border-radius: 10px;}
.restaurantReview .reviewCount .totalScore .star{margin-right: 5px;}
.reviewCount p{font-size: 24px;font-weight: bold;  }
.reviewCount .gradeInfo{border-bottom: 1px solid gray; border-top: 1px solid gray; padding: 20px 0;}
.reviewCount span{font-weight: bold;}

.restaurantReview .userReview{border: 1px solid gray; padding: 8px 10px 20px; margin-bottom: 30px; border-radius: 10px;} 


/* userRating 부분 */
.restaurantReview .userReview .userInfo{
  display: flex;
  margin: 10px;
}

.restaurantReview .userReview .userInfo p{
  margin: 0;
}

.restaurantReview .userReview .userInfo .userImg{
  margin-right: 10px;
}

.restaurantReview .userReview .userInfo .userImg img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
}


.restaurantReview .userReview .userInfo .userTxt{
  align-content: center;
}

.restaurantReview .userReview .userInfo .userTxt .userName{
  font-size: 20px;
  font-weight: 600;
}

.restaurantReview .userReview .userInfo .userTxt span{
  font-size: 14px;
}

.restaurantReview .userReview .userInfo .userTxt .averageRting{
  color: gray;
}

.restaurantReview .reviewcontainer .pointDetail{
  margin: 20px 0;
}

.restaurantReview .reviewcontainer .reviewContent{
  margin-bottom: 30px;
  font-size: 17px;
}

