* { margin: 0; padding: 0; box-sizing: border-box;} 
ul,ol,li { list-style: none; padding: 0;} 
a { text-decoration: none; } 

.content{width: 760px; margin: 0 auto; }
main{padding: 20px 0 30px; background-color: #f0f0f3; } 
.restaurantMain {padding-top: 20px; background-color: white; border-radius: 10px;} 

.restaurantInfo{padding: 0 20px;}

.restaurantInfo .infoImg{padding: 10px 0; margin-bottom: 25px; display: flex;}
.restaurantInfo .infoImg img
{ 
    width: 50%;
    height: auto; 
    object-fit: cover;
    margin-right: 5px;
}

.restaurantInfo .infoImg img:last-child {
  margin-right: 0;
}

.restaurantInfo .infoName .infoShare{justify-content: end; align-items: center;}
.restaurantInfo .infoName .infoShare a{margin-right: 25px;}
.restaurantInfo .infoName h1{padding-left: 10px; font-size: 35px; font-weight: bold;}
.restaurantInfo .infoName .shareBtn{width: 73px; height: 35px;  border-radius: 10px;font-size: 13px;}

.restaurantCategory{ margin-bottom: 10px;}
.restaurantCategory a{color: #7e7e7e;}
.restaurantCategory a:not(:last-child)::after {content: " |";}

.gradeInfo {display: flex; align-items: center; margin-bottom: 20px;}
.gradeInfo p{margin: 0;}
.restaurantRating .gradeInfo p{padding-left: 0;}
.restaurantRating .gradeInfo span
{font-weight: bold; font-size: 25px; padding-left: 5px;}
.restaurantRating .gradeRating{font-size: 25px;}
.restaurantRating .gradeRating .bi-star-fill,
.reviewCount .gradeRating .bi-star-fill
{color: blue;}

.restaurantDetail{padding: 0 12px 10px 12px; margin-bottom: 20px;}
.restaurantDetail .address{display: flex; align-items: center;}
.restaurantDetail li{margin-bottom: 10px;}
.restaurantDetail .address .btn{width: 73px; height: 32px; margin-right: 16px; font-size: 14px; padding: 0; background-color: #124886; border-color: #124886;}

.restaurantReviewPic{ background-color: white; padding: 22px; margin-bottom: 20px; border-radius: 10px;}
.restaurantReviewPic h2{font-size: 25px; font-weight: bold; margin-bottom: 20px;} 
.restaurantReviewPic .text-primary{font-size: 27px;}

.picGrid { margin: 20px 0 20px;}
.picGrid img{border-radius: 10px; width: 100%;}
.morePic {padding: 18px; width: 100%;}

.restaurantReview{padding: 22px; background-color: white; border-radius: 10px;}
.reviewCount p{font-size: 24px;font-weight: bold;  }
.reviewCount .gradeInfo{border-bottom: 1px solid gray; border-top: 1px solid gray; padding: 20px 0;}
.reviewCount span{font-weight: bold;}

.userReview{border: 1px solid gray; padding: 8px 21px 20px; margin-bottom: 15px; } 