.findPw { width: 500px; margin: 50px auto; padding-left: 0; margin-bottom: 110px;border: lightgray 1px solid;} 

.findPw .content { width: 450px;  padding: 15px; margin: auto;}
.findPw .content .text{ text-align: center;}
.findPw .content .btn { width: 100%; height: 40px; font-size: 14px; border-radius: 0; margin-bottom: 30px; } 
.findPw .content .btn{margin-top: 20px; }

.findPw .findPwTitle {padding: 50px 15px 25px; border-bottom: gray solid 1px; text-align: center; margin-bottom: 40px;}
.findPw .findPwTitle h2 { font-size: 20px; font-weight: bold; } 

.findPw .email-wrap{display: flex; font-size: 20px; margin-top: 25px;}

.findPw .emailText-box,
.findPw .phoneText-box { border: 1px gray solid; border-radius: 10px;padding: 50px 10px; margin: 12px 0;}
.findPw .emailText-box input,
.findPw .phoneText-box input { width: 100%; height: 40px; padding-left: 10px; margin-bottom: 10px; } 
