* { margin: 0; padding: 0; box-sizing: border-box; } 
ul,ol,li { list-style: none; } 
a { text-decoration: none; } 

.joinContainer{background-color: #f0f0f4; padding-bottom: 80px}
.joinContainer header{background-color: white; margin-bottom: 50px;}
.joinPage { width: 500px; margin: 0 auto; padding: 0 40px 40px 40px; background-color: white; border-radius: 10px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);} 


.joinPage .jointitle {padding: 50px 15px 25px; border-bottom: gray solid 1px; text-align: center; margin-bottom: 50px;}
.joinPage .jointitle h2 { font-size: 20px; font-weight: bold; } 

.joinPage .idCheck{position: relative;} 
.joinPage .idCheck button{position: absolute; width: 90px; top: 7px; right: 15px; border-radius: 5px; border: gray 1px solid;}
.joinPage .numCheck{width: 100%;justify-content: space-between;} 
.joinPage .numCheck input{width: 75%;}
.joinPage .numCheck button{width: 22%; height: 80%; border: gray 1px solid; border-radius: 5px; }

.joinPage .picCheck input{padding-left: 0; margin-top: 10px;}
.joinPage .picCheck .picPreview{border: gray 1px solid; display: flex; justify-content: center; align-items: center; border-radius: 5px;}
.joinPage .picCheck .picPreview .btn{height: 80px;margin-left: 8px;}
.joinPage .joinItem button {border: 2px gray solid; border-radius: 5px;}

.joinPage .joinItem .essential {
  color: red;
}
.joinPage .joinForm input { width: 100%; height: 40px; padding-left: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px gray solid;} 
.joinPage .joinForm .picCheck input{border: none;}
.joinPage .joinForm { border: lightgray 1px solid; padding: 15px; border-radius: 10px;}

.joinPage .joinBtn .btn { width: 100%; height: 40px; font-size: 14px; border-radius: 0; } 
.joinPage .joinBtn .btn{margin-top: 30px; border-radius: 5px;}

.joinPage .joinForm .phoneReg{display: flex; justify-content: space-between;}
.joinPage .joinForm .phoneReg input {width: 360px;}
.joinPage .joinForm .phoneReg button{margin-left: 10px; height: 40px; padding: 0 5px;}
 
/* #userIdValidation, #passwordValidation, #rePasswordValidation, #newPasswordValidation{
  font-weight: 600;
  color: red;
}
#userIdValidation.invalid, #passwordValidation.invalid,#rePasswordValidation.invalid ,#newPasswordValidation.invalid{
  color: red;
}
  */

.joinPage .valid{  font-weight: 600;
 color: lightgreen;}

.joinPage .invaild{  font-weight: 600;
  color: red;
}


