* { margin: 0; padding: 0; box-sizing: border-box; } 
ul,ol,li { list-style: none; } 
a { text-decoration: none; } 

.header_login { padding: 20px 0 20px; border-bottom: gray solid 1px; text-align: center;} 
.header_login img{ width: 150px; } 

.loginPage { width: 500px; margin: 0 auto; margin-bottom: 110px; padding: 0 40px; } 

.loginPage .title_login{padding: 50px 15px 25px; border-bottom: gray solid 1px;text-align: center;}
.loginPage .title_login h2{ font-size: 20px; font-weight: bold; } 

.loginPage .subtitle { padding: 24px; white-space: nowrap; text-align: center;}
.loginPage .subtitle h2 { font-size: 15px; font-weight: bold;}

.loginPage .loginForm { text-align: center; border-radius: 15%; } 

.loginPage .loginForm input{ width: 100%; height: 40px; padding-left: 10px; margin-bottom: 10px; } 

.loginPage .loginSet { padding: 24px 0; text-align: center; font-size: 14px; } 

.loginPage .loginSet span { text-align: left; } 
.loginPage .loginSet a { text-align: right; } 
.loginPage .loginSet .btn { width: 27px; height: 27px; padding: 2px 0px; border-radius: 0; margin-right: 7px; border-radius: 5px;} 
.loginPage .loginSet .btn svg{display: flex; margin: 3px auto;}

.loginPage .loginBtn .btn{ width: 100%; height: 40px; font-size: 14px; border-radius: 0; } 

.loginPage .andLine { width: 400px; margin: auto; padding: 14px; } 
.loginPage .andLine .and { width: 40px; font-size: 14px; white-space: nowrap; margin-right: 8px;}
.loginPage .andLine .line { border-bottom: gray solid 1px; height: 7px; } 

.loginPage .join { border: gray 1px solid; font-size: 15px; text-align: center; width: 100%; height: 150px; margin: 30px 0 0; padding: 24px; } 

.loginPage .join .upWord { font-size: 14px; font-weight: bold; } 
.loginPage .join .downWord { font-size: 12px; white-space: nowrap;}

.loginPage .join .btn { width: 200px; height: 40px; border-radius: 0; margin-top: 12px; font-size: 13px;}


#userIdValidation, #passwordValidation, #rePasswordValidation, #newPasswordValidation{
  font-weight: 600;
  color: rgb(107, 214, 107);
}
#userIdValidation.invalid, #passwordValidation.invalid,#rePasswordValidation.invalid ,#newPasswordValidation.invalid{
  color: red;
}
 

