
a{text-decoration: none;}

.header { padding: 20px 0 20px; border-bottom: gray solid 1px; text-align: center;} 
.header img { width: 300px; } 

section{margin: 0 auto;}
.sec{margin-top: 50px;}

.leftBar{padding-top: 75px; margin-right: 10px;}

.leftBar, .rightBar{
  border: 1px grey solid;
  border-radius: 5px;
}

h2{
  margin: 30px 0;
  text-align: center;
}


.profile-img{margin: 0 70px; width: 550px; display: flex; justify-content: space-between;}


.img-edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.img-edit .find{
  font-size: 12px;
  padding: 8px 20px; color: white; 
  background-color: black;
}


.person-circle {

  margin: 0 auto;
  width: 200px;
  height: 200px; 
  border-radius: 50%; 
  overflow: hidden; 
}

.person-circle img {
  width: 100%; 
  height: 100%; 
  display: block; 
}


.input-box{ width: 100%; display: flex; justify-content: center;}
.input-box tr{
  border-bottom: none;
}

.input-box tr input{width: 400px; height: 40px;}
.input-box th{width: 100px;}
.input-box td{padding: 24px 95px 24px 0}



.sec .edit-box{display: flex; justify-content: center; padding: 50px 0 50px;}
.sec div .edit{
  width: 400px; 
  height: 60px; 
  background-color: #0ac7ce;
  font-size:  18px;
  color: white;
  border: none;
  border-radius: 2px;
}


