
a{text-decoration: none;}

.mySec{
  padding: 20px;
  display: flex;
  justify-content: center;
  
 
}
.myInfo{
  font-size: 24px;
  padding-right: 75px;
}
.mySec .leftBar{
  position: relative;  margin-right: 20px; min-width: 190px; height: 862px;  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/* .mySec .leftBar ul{margin-left: 10%;} */
.mySec .leftBar li{margin: 10px 0;}
.mySec .leftBar .deleteId{position: absolute; bottom: 0; margin-bottom: 50px; width: 100%;}
.mySec .leftBar .deleteId a{color: #000;}

.mySec .rightBar{max-width: 750px;  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}

.mySec .leftBar, .mySec .rightBar{
  border: 1px grey solid;
  border-radius: 5px;
}


.SMN_effect-8 .effect-link {
  overflow: hidden;
  padding: 0;
  display: block;
  position: relative;
  text-decoration: none;
}

.SMN_effect-8 .effect-link span {
  display: block;
  padding: 10px 20px;
  background: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;

}

.SMN_effect-8 .effect-link svg{margin: 0 5px 2px 0;}
.SMN_effect-8 .qestionList svg{margin: 0 9px 2px 0; font-size: 16px;}
.SMN_effect-8 .shopAdd svg{font-size: 19px;}


.SMN_effect-8 .effect-link:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  background:  #ddd;
  color: rgb(90, 90, 211);
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-25%);
  

}


.SMN_effect-8 .effect-link:hover span,
.SMN_effect-8 .effect-link:focus span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}

.SMN_effect-8 .effect-link:hover:before,
.SMN_effect-8 .effect-link:focus:before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}


/* 회원탈퇴 링크에 대한 추가 스타일 */
.SMN_effect-8 #deleteId:before {
  color: red; /* 빨간색으로 변경 */
}

.mySec h2{
  margin: 30px 0;
  text-align: center;
}


.mySec .profile-img{ 
  margin: 0 70px; 
  width: 550px;}

.mySec .img-edit{
  display: flex;
  justify-content: center;
}

.mySec .profile-img .delBtn{display: flex; justify-content: end;}

.mySec .profile-img button{
  height: 34px;
  font-size: 12px;
  padding: 7px 20px;
  background-color: gray; 
  border: none;
  color: white;
}
.mySec .person-circle {

  margin: 0 auto;
  width: 200px;
  height: 200px; 
  border-radius: 50%; 
  overflow: hidden; 
}

.mySec .person-circle img {
  width: 100%; 
  height: 100%; 
  display: block; 
    object-fit: cover;
}



.mySec .input-box{ width: 100%; display: flex; justify-content: center;}
.mySec .input-box tr{
  border-bottom: none;
}

.mySec .input-box tr input{width: 400px; height: 40px; border-radius: 5px;}
.mySec .input-box th{width: 100px;}
.mySec .input-box td{padding: 24px 95px 24px 0}



.mySec .edit-box{display: flex; justify-content: center; padding: 50px 0 50px;}
.mySec .edit-box .edit{
  width: 400px; 
  height: 60px; 
  background-color: #0ac7ce;
  font-size:  18px;
  color: white;
  border: none;
  border-radius: 5px;
}


