* { margin: 0; padding: 0; box-sizing: border-box; } 
ul,ol,li { list-style: none; } 
a { text-decoration: none; }
p{margin: 0; color: black;}

.select, .food-shop{background-color: white; }

.searchBody{background-color: #f0f0f0; margin-top: 0;}



section{ width: 1350px; padding-bottom: 60px; padding: 30px 0 60px 0;}

/* 왼쪽 박스 */

/* .select{width: 260px; height: 650px; border: 1px solid black; border-radius: 10px;} */

.sel-social{padding-top: 10px;}
.title{align-items: center; padding: 3px 16px 9px;}
.square{height: 10px; width: 10px; border-radius: 2px; margin-right: 6px;}
h4{font-size: 24px; font-weight: 700; margin: 0;}

.filterOption{padding: 0 16px; margin: 0;}

.filterOption .filterBtn{padding: 5px 0;}
.filterBtn .filterBtn-click{align-items: center;}
.filterBtn-click img{margin-right: 10px;}

.peopleGroup{margin: 0; padding-left: 16px;}

.categoryGroup, .gender{padding-left: 16px;}
.gender {margin-left: 0px;}


.dropdown{
  padding: 0 10px;
}

 .question {
  padding: 0;
  font: 18px "inherit";
  width: 100%;
  border-radius: 5px;
  border: gray 0.5px solid;
  text-align: left;
}

.question span{
  margin-left: 15px;
}

.city_list {

 background-color: white;
  font-size: 18px;
  width: 92%;
  border: gray 1px solid;
  max-height: 200px; /* 스크롤이 보일 최대 높이를 지정하세요 */
  overflow-y: auto; /* 세로 스크롤을 만듭니다. */
  padding-left: 10px;
  cursor: pointer;
}

.city_list li{box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);}
.city_list li:hover{background-color: rgb(204, 205, 206);}

/* 오른쪽 박스 */

.food-shop{width: 900px;  overflow-x: auto; border: black 1px solid; margin-left: 20px; border-radius: 10px; padding: 0 20px;} 
.order-wrap{
  border-bottom: 1px solid rgb(245, 245, 245);
  border-top-right-radius:14px;
  border-top-left-radius: 14px;
}

.range{width: 80px; border-right: 1px solid rgb(245, 245, 245); justify-content: center; align-items: center; display: flex;}

.l-btn{margin: 20px 0;}

.order{ align-items: center; justify-content: center; display: flex;}
.order button{height: 34px; border-radius: 6px; cursor: pointer; margin-left: 20px;}
.order button span{margin: 0 15px;}

.r-btn button{height: 62px; padding: 0 20px; border : 1px solid black;}

button{background-color: white;}


.map{width: 400px; height: 400px;}

.look-shop{padding: 20px 20px; cursor: pointer;}
.shop-h{ box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); margin-bottom: 20px;}
.shop-h:hover{background-color: rgb(243, 239, 239);}
.shop-box{padding-left: 0;}

.info{padding: 2px 0 2px 16px;}
.info .shop-name{margin-bottom: 10px; font-size: 24px;}
.info .hash{margin: 0;}
.info .category{margin: 0;}


/* img{width: 16px; height: 16px;} */

.title-img{padding: 0; border-radius: 10px; width: 110px; height: 110px;}

.rate .score{margin-right: 5px;}
.rate .user-score{margin-right: 5px;}

.request { margin: 20px 0 0 20px; background-color: white; border-radius: 15px;
  border: black 1px solid; width: 900px; justify-content: end;}
.request .inner{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}
.request h1{font-size: 20px;}
.request button{
  padding: 14px 101px;
  background-color:rgb(25, 183, 194);
  border-radius: 10px;
  cursor: pointer;
}
.request-btn a{color: white; font-weight: bold;}
.request-btn button{border: rgb(25, 183, 194);}
.request span{
  color: rgb(158, 158, 158);
  font-size: 14px;
}

.blank {width: 260px; margin-right: 20px;}

footer{background-color: white; padding: 30px 0 ;}

#map{border-radius: 10px;}