* { margin: 0; padding: 0; box-sizing: border-box; } 
ul,ol,li { list-style: none; } 
a { text-decoration: none; } 


.adminComplain, .shopAddDetail, .complain{background-color: #f0f0f3; padding-bottom: 80px;}


.shopAdd .container { width: 960px; margin: 0 auto; padding-bottom: 25px; } 

.shopAdd .addPage { width: 500px; background-color: white; border-radius: 10px; } 

.shopAdd .header {border-bottom: gray solid 1px; background-color: white; margin-bottom: 50px;} 
.shopAdd .header img {width: 250px;} 

.shopAdd .subtitle,
.shopAdd .header,
.shopAdd .title,
.shopAdd .addtitle
 {
text-align: center;}

.shopAdd .addtitle {padding: 50px 15px 25px; border-bottom: gray solid 1px;margin-bottom: 50px;}
.shopAdd .addtitle h2 { font-size: 23px; font-weight: bold; } 

.shopAdd .addForm { border: lightgray 1px solid; padding: 15px;}
.shopAdd .addForm input { width: 100%; height: 40px; padding-left: 10px; margin-bottom: 10px; } 

/* .shopAdd .addForm textarea {
  width: 100%; height: 200px; padding-left: 10px; margin-bottom: 10px;
} */

.shopAdd .addForm .addItem{
  margin: 10px 0;
}

.shopAdd .addForm .addItem.time-range{
  display: flex;
  flex-direction: column;
}

.shopAdd .addForm .addItem.time-range .time-select{
  display: flex;
  justify-content: space-between;
}



.shopAdd .addForm .addItem select{
  width: 200px;
  height: 40px;
  text-align: center;
}

.shopAdd .dropdown {
  margin-bottom: 10px;
}

.shopAdd .dropdown .category-dropdown{
  border-radius: 0;
  width: 100%;
  border: 1px gray solid;
}

.shopAdd .dropdown .dropdown-menu {
  border: gray 1px solid;
  width: 100%;
  max-height: 200px; /* 스크롤이 보일 최대 높이를 지정하세요 */
  overflow-y: auto; /* 세로 스크롤을 만듭니다. */
  margin: 10px 0 0 0;
  padding-left: 10px;
  cursor: pointer;
}

.shopAdd .dropdown-menu .menu-li{box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);}
.shopAdd .dropdown-menu .menu-li:hover{background-color: rgb(204, 205, 206);}


.shopAdd .addBtn{display: flex; justify-content: space-between; padding-top: 15px; }
.shopAdd .addBtn .btn{margin: 0 30px;}
.shopAdd .addBtn .btn a{color: white;}





/* 리뷰 사진 */
.addItem .review-img{
  border: 1px solid gray;
}
.addItem .upload-img{ display: flex; justify-content: space-between; flex-wrap: wrap; }
.addItem #imgUrl{ padding: 10px 0; padding-left: 10px;}

.addItem .review-img-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 427px;
}

.addItem .review-img-preview > div {
  flex: 1 0 45%; /* 한 줄에 두 개씩 배치되도록 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.addItem .review-img-preview img {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.addItem .review-img-preview button {
  margin-top: 5px;
  color: red;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}