* { margin: 0; padding: 0; box-sizing: border-box; } 
ul,ol,li { list-style: none; } 
a { text-decoration: none; } 

.container { width: 960px; margin: 0 auto; padding-bottom: 25px; } 

body .mainPage { width: 400px; padding-left: 0; margin-bottom: 110px; } 
body .addPage { width: 500px; padding-left: 0; margin-bottom: 110px; } 

.header { padding: 20px 0 20px; border-bottom: gray solid 1px; } 
.header img { width: 150px; } 

.subtitle,
.header,
.title,
.addtitle
 {
text-align: center;}

.title, .addtitle {padding: 50px 15px 25px; border-bottom: gray solid 1px;}
.addtitle {margin-bottom: 50px;}
.addtitle h2 { font-size: 20px; font-weight: bold; } 

.addForm input { width: 100%; height: 40px; padding-left: 10px; margin-bottom: 10px; } 
.addForm { border: lightgray 1px solid; padding: 15px;}

.addBtn{display: flex; justify-content: space-between; padding-top: 15px; }
.addBtn .btn{margin: 0 30px;}
.addBtn .btn a{color: white;}

.dropdown {
  margin-bottom: 10px;
}

.dropdown .btn{
  border-radius: 0;
  width: 100%;
  border: 1px gray solid;
}

.dropdown-menu {
  border: gray 1px solid;
  width: 100%;
  max-height: 200px; /* 스크롤이 보일 최대 높이를 지정하세요 */
  overflow-y: auto; /* 세로 스크롤을 만듭니다. */
  margin: 10px 0 0 0;
  padding-left: 10px;
  cursor: pointer;
}

.dropdown-menu li{box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);}
.dropdown-menu li:hover{background-color: rgb(204, 205, 206);}


