@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{font-family: 'Pretendard-Regular';}

a{color: black;}

/* 헤더 */

.header{height: 74px; margin-bottom: 20px; margin-top: 20px}
.header ul{margin: 0; white-space: nowrap;}
.header .logo{margin: 0;}
.header .logo .logo-img{width: 100%; height: 70%; }
.header .search_box{
  width: 80%; height: 40px;
  padding: 20px; font-size: 14px;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  border: none;
}



.searchBar{position: relative;}
.searchBar button{position: absolute; top: 5%; right: 15%; font-size: 25px;}

#searchBtn{border: 0; background-color: transparent; }

.loginBar{margin-left: 50px;}


/* 유저 버튼 */

.user li{padding: 0 10px;}


/* nav */
nav{
  background-color: #e5e5e5; 
  height: 50px;
  display: flex; align-items: center;
  
}
nav .nav-ul{gap: 20px; margin: 0; padding: 0 0 0 20px ;}
nav .nav-ul .nav-li a:hover{color: gray; cursor: pointer; transition: 0.3s;}
nav .nav-ul .nav-li a{position: relative; padding: 6px 12px;}
nav .nav-ul .nav-li a::after{
    content: '';
    position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: rgb(206, 206, 214);
    transition: all .3s ease-out;
  }
nav .nav-ul .nav-li a:hover::after{
    width: 100%;
  }



/* footer */
footer { white-space: nowrap; padding-bottom: 50px;}

footer li::after { content: " |"; } 

.footerPage { text-align: left; font-size: 14px; margin-top: 50px;} 

.footerPage ul { padding: 0; } 
.footerPage .terms { font-weight: bold; margin-bottom: 24px; } 
.footerPage .info { margin-bottom: 9px; } 

.footerPage .info .mainName { font-size: 15px; } 
.footerPage li {padding: 0 0 0 10px; } 

.footerPage p { margin-bottom: 9px; } 