*{margin: 0; padding: 0; box-sizing: border-box; }

ul,li,a{text-decoration: none; list-style: none;}

main{
  padding: 0 0 30px 0;
  background-color: #f0f0f0;
}

section{
  margin: 0 0 20px 0;
}

.user li{padding: 0 10px;}
.nav-ul {
  align-items: center;
  justify-content: center;
}

/* 비주얼 */
.visual{
  position: relative;
  width: 100%; height: 280px;
  background-color: #124886;}

  .visual .select{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
  .visual .select p,
  .visual .select h1
  { color: white; text-align: center;}
  .visual .select p{font-size: 24px;}
  .visual .select h1{font-size: 35px; margin-bottom: 30px;}
  .visual .select button{background-color: #19b7c2; width: 150px; height: 40px; border-radius: 13px; color: white; border: #19b7c2;}
  
  



/* 메인 */
.main .category{
  background-color: rgb(255, 255, 255);
  padding: 20px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 6px 0px;
  border-bottom: 0.3px solid #f0f0f0;
}



.main .category .title{
  margin: 0 0 0 25px; font-size: 24px; font-weight: 600;
}

.main .category_box .restoraunt_list{
  padding: 20px 20px 10px 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 6px 0px;
}

.main .category_box .restoraunt_list:last-child{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}



.pic{width: 92%;}

.pic img{
  width: 100%; border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.pic img:hover {
  transform: scale(1.05);
}

.restoraunt_title{
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}


/*             모달                  */



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 550px;
  height: 550px ;
  
}

.modal-content .gu{
  height: 300px;
  overflow-y: auto;
}

.modal-content h2{font-size: 22px; text-align: center;}
.modal-content .table{border: #888 1px solid;}
.modal-content .region_option{height: 35px; margin: auto; width: 100%; border-bottom: black 1px solid; align-items: center;}

.modal-content .region_list .col-6{ border-right: #aaa 1px solid;}

.modal-content .city button{margin-bottom: 15px;}
.modal-content .gu button{margin-bottom: 10px;}
.modal-content .city button,
.modal-content .gu button
{ width: 100%; height: 40px; border-radius: 10px; background-color: white; border: black solid 0.5px ;}

.city button.selected,
.gu button.selected
{
  background-color: #124886;
  color: white;
}

.modal-content .selectBtn button{height: 100%; width: 100%; border-radius: 10px; border: gray; color: gray;}

#selectRegion {  height: 50px; background-color: white; border-color: #19b7c2; color: #19b7c2; border: 1px solid #19b7c2; }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
